@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.header {
  display: flex;
  color: white;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  background: linear-gradient(to right,#2196f3,#00b0ff);
}

body {
  background-color: white;
}

.navbar {
  background: linear-gradient(to right,#2196f3,#00b0ff);
  position: relative;
  left: 33%;
  width: 500px;
}
